.b_background {
  width: 100%;
  height: 100%;
  background: url("../images/background/b_background.png");
  background-size: 100% 100%;
}

.b_background_preload {
  background: url("../images/background/b_prebackground.png");
}

.lamp-bright {
  background-image: url("../images/background/b_lamp-bright.png");
  background-size: 100% 100%;
}


/*商店*/

.shop {
  width: 39.5%;
  height: 35.5%;
  position: absolute;
  left: 29%;
  top: 36.5%;
}

.door {
  position: absolute;
  width: 11%;
  height: 68%;
  overflow: hidden;
  top: 32%;
  left: 55%;
}

.door-left,
.door-right {
  width: 50%;
  height: 100%;
  position: absolute;
}

.door-left {
  left: 0%;
  background: url('../images/door-left.png');
  background-size: 100% 100%;
}

.door-right {
  left: 50%;
  background: url('../images/door-right.png');
  background-size: 100% 100%;
}

.bird {
    min-width: 91px;
    min-height: 71px;
    top: 10%;
    position: absolute;
    z-index: 0;
    right: 26%;
    background: url('../images/bird.png') -182px 0px no-repeat;
}

.birdFly {
  animation: bird-slow 400ms step-start infinite;
}

@keyframes bird-slow {
  0% {
    background-position: -182px 0px;
  }
  25% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -91px 0px;
  }
  100% {
    background-position: -182px 0px;
  }
}
